*{
    margin:0;
    padding:0;
}

body{
    text-align:center;
    padding: 0 80px;
}

.search-container{
    background-color: #EEEEEE;
}

.footer{
    display: flex;
    justify-content: space-around;
    text-align:center;
    width:100%;
}

.left,
.right,
.middle{
    margin: 4px;
    margin-left: 0;
    width: 100%;
    padding: 10px;
}

.left{
    background-color: #7EE5DA;
}

.middle{
    background-color: #70CCC2;
}

.right{
    background-color: #62B3AA;
    margin-right: 0;
}

span{
    font-size: 13px;

}